@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy-900: #0a192f;
  --navy-800: #112240;
}

body {
  @apply bg-navy-900 text-gray-100;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navy-900);
}

::-webkit-scrollbar-thumb {
  background: var(--navy-800);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}